@font-face {
    font-family: 'madeInfinityThin';
    src: url('./fonts/madeInflityFont/MADEINFINITYPersonalUse-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'madeInfinityLight';
    src: url('./fonts/madeInflityFont/MADEINFINITYPersonalUse-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vokrus';
    src: url('./fonts/Vorkurs/II Vorkurs Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AcuminPro';
    src: url('./fonts/Acumin Pro/Acumin Pro Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#containerSecondPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fefefe;
}

.imgSecondPage {
    height: 100vh;
}

.leftSideOf2ndPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    position: relative;
}

.EnchantéTxtOf2ndPage {
    position : relative;
    font-size: 100px;
    width: 100%;
    font-family: 'madeInfinityLight', cursive;
    text-align: left;
}

.PresNameOf2ndPage {
    position : relative;
    text-align : center;
    font-size: 50px;
    width: 50%;
    height: 60px;
    font-family: 'madeInfinityThin', cursive;
}

p {
    display: inline-block;
    margin : 0;
    padding : 0;
}

.ObjectToAnimate {
    opacity: 0;
}

.animationToAddToEnchanté {
    animation: text-clip 1s cubic-bezier(0.5, 0, 0.1, 1) forwards;
}

.animationToAddToPm {
    animation: text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) forwards;
}

.detectorToApparitionAnimation {
    position: absolute;
    bottom: 50px;
    width: 1px;
    height: 1px;
    background-color: transparent;
}

@keyframes text-clip {
    from {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity : 1;
    }
}































